<html lang="fr">


<body>

<p>Bonjour {{ name }},</p>
<p>Vous venez de vous inscrire sur {{ applicationName }}, il ne vous reste plus qu'a valider votre compte en cliquant sur le lien ci-dessous :</p>
<a href="{{ website }}/validation?token={{ token }}">Validation</a>

</body>

</html>